/* ABOUT PAGE STYLING */
.about-page,
.contact-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.about-bg,
.contact-bg {
  width: 60%;
  aspect-ratio: 1;
  background: url(../assets/logos/gogetterz_01_500.png) 50% 50% / 100% no-repeat;
}
