.home-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
}

.header-container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 80px;
  z-index: 33;
  animation: pulse 10s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}

.welcome-to {
  font: 400 clamp(1rem, 5vw, 2rem) arial;
  color: gray;
}

.letter-g {
  font: 400 clamp(4rem, 5vw, 6rem) Lorea;
  color: white;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.gogetterz {
  font: 400 clamp(2rem, 5vw, 4rem) Lorea;
  color: white;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  filter: drop-shadow(0 0 3px gold);
}

.img-stack-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-img {
  height: 100%;
  position: absolute;
  opacity: 0;
}

.img-1 {
  animation: fade-out 30s ease-in-out infinite;
}

@keyframes fade-out {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.img-2 {
  animation: fade-out2 30s ease-in-out infinite;
}

@keyframes fade-out2 {
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

.img-3 {
  animation: fade-out3 30s ease-in-out infinite;
}

@keyframes fade-out3 {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

.img-4 {
  animation: fade-out4 30s ease-in-out infinite;
}

@keyframes fade-out4 {
  55% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

.img-5 {
  animation: fade-out5 30s ease-in-out infinite;
}

@keyframes fade-out5 {
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
