.App {
  border: solid 1px white;
}

.logo {
  background: url(./assets/logos/gogetterz_01_100_trans.png) center / 90% 90% no-repeat;
}

.logo:hover {
  transform: rotate(-10deg);
  transition: transform 200ms ease-in-out;
}

a {
  text-decoration: none !important;
}

.cart {
  background: url(./assets/cart-shopping-solid.svg) center / 55% 55% no-repeat, radial-gradient(gray, rgb(55, 55, 55));
}

@media (prefers-reduced-motion: no-preference) {
  .btn-border {
    animation: action-btn-anim infinite 10s linear;
  }
}

.itemContainer{
  grid-template-columns: auto auto auto;
}

@media (max-width: 700px) {
  .itemContainer{
    grid-template-columns: auto;
  }

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes action-btn-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
