.App {
  border: solid 3px aqua;
}

.logo {
  background: url(./assets/logos/gogetterz_01_100_trans.png) 0 0 / 100% 100%;
}

.cart {
  background: url(./assets/cart-shopping-solid.svg) center / 70% 70% no-repeat;
}


@media (prefers-reduced-motion: no-preference) {
  .btn-border {
    animation: action-btn-anim infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes action-btn-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
